@font-face {
  font-family: bata;
  src: url(bat\ a.ttf);
}

*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'bata';
  background-color: black;
}
.container{
  margin-top: 50px;
  margin:auto;
  width: 90vw;
  position: relative;
  background-image: url(images/final.png);
  background-size: cover;
  background-position: right;
  height: 85vh;
  transition-duration: 0.5s;
}
.container:hover{
  background-image: url(https://media.giphy.com/media/GTabKEhWhTaX4r5un6/giphy.gif);
  transform: scale(1.1);
  box-shadow: -10px 10px 100px rgba(219, 214, 214, 0.504);
  
}

#batlogo{
  margin-top: 50px;
  display: inline-block;
  max-width: 180px;
}

#navbar{
  text-shadow: -10px 6px 5px black ;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  flex-direction: column;
  height: 55%;
}

#gamelogo{
  align-items: center;
  display: flex;
  width: 20%;
  justify-content: space-between;
  position: absolute;
  bottom: 3px;
}
.glogo{
  width: 70px;
  transition: 0.5s;
}

#clips{
  cursor: pointer;
  position: relative;
  bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.trailer{
  text-shadow: 2px 2px 15px rgb(220, 209, 209);
  box-shadow: -10px 10px 20px black;
  margin-right: 20px;
  width: 280px;
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover; 
  transition: 0.3s;

}
 #clips .trailer:hover{
  transform: scale(1.1);
  box-shadow: -10px 10px 35px #ded5d593;

}

#navbar a{
  padding: 2px;
  font-size: 20px;
  height: 25px;
  margin-left: 25px;
  font-weight: bold;
  color:white;
  text-decoration: none;
  transition: 0.1s;
}

#navbar a:hover{
  text-shadow: 5px 5px 8px white,-5px -5px 8px white;
  transform: translateX(10px);
  border-style: solid;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-color: white;
}

.trailer h4{
  color:white;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 90px;
  font-size: 18px;
}

.trailer p{
  color: white;
  margin-left: 20px;
  font-size: 16px;

}


#t1{
background-image: url(images/thumbnail/fight.png);
}
#t1:hover{
background-image: url(https://media.giphy.com/media/javs1yRQjaOlaRC7Bj/giphy.gif);
}
#t2{
background-image: url(images/thumbnail/batmobile.png);
}
#t2:hover{
  background-image: url(https://media.giphy.com/media/uuIxABcAsA5FnzfASl/giphy.gif);
}
#t3{
background-image: url(images/thumbnail/watchover.png);
}
#t3:hover{
  background-image: url(https://media.giphy.com/media/EMpPEre2PqFy8GkOZE/giphy.gif);
}

.social{
  margin-right: 30px;
  height: 150px;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 100px;
  right: 5px;
}

.slogo{
  width: 25px;
  transition: 0.1s;
}
.slogo:hover{
  opacity: 0.7;
  transform: scale(1.2);
}
